<button
	{...Astro.props}
	class="transition
	px-4
	py-1
	gap-2
	w-full
	inline-flex
	items-center
	justify-center
	border
	rounded-full
	text-md
	bg-gray-100
	border-gray-400
	hover:text-white
	hover:bg-gray-500
	hover:border-gray-900
	focus-visible:ring-blue-500/50
	dark:bg-gray-800
	dark:border-gray-600
	dark:hover:bg-gray-500
	dark:focus-visible:ring-yellow-300/80
	focus:outline-none
	focus-visible:outline-none
	focus-visible:ring
	focus-visible:ring-offset-2"
>
	<slot />
</button>
