---
const currentYear = new Date().getFullYear();
---

<footer class="flex justify-center m-8">
	<span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
		© {currentYear}
		<a
			href="https://github.com/MaxiV95"
			target="_blank"
			rel="noopener noreferrer"
			class="hover:underline">MaxiV95.</a
		>
	</span>
</footer>
