---
import ThemeToggle from "./ThemeToggle.astro";
---

<header
	class="mx-auto mt-2 w-full top-0 z-10 flex items-center justify-center"
>
	<nav
		class="px-3 py-1 flex gap-3 justify-center items-center font-medium rounded-full text-sm md:text-lg shadow-lg backdrop-blur bg-gray-500/40"
	>
		<a
			target="_blank"
			rel="noopener noreferrer"
			aria-label="portafolio"
			href="https://maxiv95.github.io"
			class="hover:scale-110 transition hover:text-blue-600 hover:dark:text-yellow-300"
			>Portafolio</a
		>
		<ThemeToggle />
	</nav>
</header>
